.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__items {
    &__text {
      color: #f0e7be;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }
  }
}
